<system.webServer>
	<handlers>
		<add name="JavaScriptHandler" path="*.js" verb="*"
		   preCondition="integratedMode" type="System.Web.StaticFileHandler" />
		<add name="HtmlScriptHandler" path="*.html" verb="*"
		   preCondition="integratedMode" type="System.Web.StaticFileHandler" />
		<remove name="BlockViewHandler"/>
		<add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
	</handlers>
	</system.webServer>
